.card {
	background-color: var(--bg-secondary);
	max-width: 32rem;
	height: 26.4rem;
	cursor: pointer;
	position: relative;
}

.cardImg {
	height: 60%;
}

.cardImg img {
	height: 100%;
}

.content {
	padding: 10px 8px;
	display: flex;
	align-items: flex-start;
	position: relative;
}

.time {
	position: absolute;
	top: 12.9rem;
	right: 8px;
	background-color: var(--white-secondary);
	color: var(--bg-secondary);
	padding: 4px 8px;
}

.content img {
	width: 4rem;
	height: 4rem;
	cursor: auto;
}

.videoDetails {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	width: calc(100% - 6.4rem);
}

.videoDetails h4 {
	font-weight: 500;
	line-height: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	width: 90%;
}

.videoDetails h5 {
	margin: 6px 0 4px;
}

.videoDetails h5,
.videoDetails span {
	font-size: 1.2rem;
	font-weight: 400;
	color: var(--lynx-grey);
}

.options {
	background-color: inherit;
	color: inherit;
	font-size: var(--text-md);
	padding: 4px;
}

.options:hover {
	opacity: 0.9;
}

.options:active {
	opacity: 0.7;
}

.menu {
	background-color: var(--bg-primary);
	padding: 8px;
	position: absolute;
	right: 1.6rem;
	top: 3.2rem;
	flex-direction: column;
	z-index: 1;
	display: none;
}

.menu button {
	padding: 8px 4px;
	background-color: inherit;
	text-align: left;
	color: var(--white-primary);
}

.menu button:first-of-type {
	margin-top: 0;
}

.menu button:last-of-type {
	margin-bottom: 0;
}

.menu button i {
	margin-right: 4px;
}

.open {
	display: flex;
}
