.cardContainer {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
	grid-gap: 2.4rem;
	margin-right: 2.4rem;
	justify-items: center;
}

@media only screen and (min-width: 1600px) {
	.cardContainer {
		max-width: 1280px;
		margin: auto;
	}
}
