.pg {
	margin: 9.6rem 2.4rem 3.2rem;
}

.videoWrapper {
	width: 100%;
	max-width: 96rem;
}

.detailContainer > h4 {
	margin: 2.4rem 0 1.6rem;
	font-weight: 500;
}

.videoDetails {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	font-size: 1.2rem;
	color: var(--lynx-grey);
	padding-bottom: 1.2rem;
	border-bottom: 1px solid var(--btn-secondary);
	position: relative;
}

.btnContainer button {
	background-color: transparent;
	color: var(--lynx-grey);
	font-size: var(--text-md);
	padding: 0;
}

.btnContainer button:nth-of-type(2) {
	margin: 0 10px;
}

.btnContainer i {
	margin-left: 6px;
}

.channelDetailContainer {
	margin-top: 1.2rem;
	padding-bottom: 1.2rem;
	border-bottom: 1px solid var(--btn-secondary);
	display: flex;
}

.channelDetailContainer img {
	height: 4.8rem;
	width: 4.8rem;
}

.channelDetails {
	margin-left: 1.2rem;
}

.channelDetails > h4 {
	margin-top: 10px;
	font-weight: 400;
}

.description {
	margin-top: 1.6rem;
	font-size: 1.4rem;
	max-width: 50ch;
}

.description > button {
	background-color: transparent;
	color: var(--info-color);
	text-decoration: underline;
	margin-left: 4px;
}

.options {
	display: none;
	background-color: inherit;
	color: var(--lynx-grey);
	font-size: var(--text-md);
	padding: 0 4px;
}

.btnContainer .btnActive {
	color: var(--white-primary);
}

@media only screen and (max-width: 768px) {
	.options {
		display: block;
	}

	.btnContainer {
		display: none;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 1.6rem;
		padding: 8px;
		background-color: var(--bg-secondary);
		z-index: 1;
	}

	.btnContainer > button {
		padding: 8px 4px;
		text-align: left;
	}

	.btnContainer > button:nth-of-type(2) {
		margin: 0;
	}

	.active {
		display: flex;
	}
}
