.header {
	background-color: var(--bg-secondary);
	justify-content: space-between;
	padding: 1.6rem 2.4rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.header h2 a {
	font-family: 'Bangers', 'Comic Sans MS', cursive;
	letter-spacing: 4px;
	font-size: var(--text-xl);
}

.header input {
	margin-left: 0;
	max-width: 40rem;
}

.header a {
	color: var(--white-primary);
	font-size: var(--text-md);
	transition: color 0.2s ease-in;
}

.header a:hover {
	color: var(--btn-primary);
	transition: color 0.2s ease-in;
}

.header a:active {
	opacity: 0.7;
}

.logoutBtn {
	background-color: transparent;
	font-size: 1.6rem;
	color: var(--white-primary);
	transition: color 0.2s ease-in;
}

.logoutBtn:hover {
	color: var(--btn-primary);
	transition: color 0.2s ease-in;
}

.logoutBtn:active {
	opacity: 0.7;
}

@media only screen and (max-width: 520px) {
	.header {
		flex-wrap: wrap;
	}

	.header input {
		display: block;
		width: 100%;
		order: 2;
		max-width: 100%;
		margin-top: 1.6rem;
	}
}
